@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}

body{
  font-family: 'Clash Display', sans-serif;
  background: #1A1A1A;
  background-image: url('/assets/images/bg-pattern.png');
}
.container{
  max-width: 1155px;
}

/* typography  */
h1{
  font-size: 64px;
  line-height: 110%;
}
h2{
  font-size: 52px;
  line-height: 110%;
}
h3{
  font-size: 48px;
  line-height: 110%;
}
h4{
  font-size: 36px;
  line-height: 110%;
}
h5{
  font-size: 32px;
  line-height: 110%;
}

p{
  font-size: 24px;
  line-height: 150%;
}

.body-1{
  /* font-size: 24px; */
  line-height: 110%;
}
.body-2{
  /* font-size: 24px; */
  line-height: 30px;
}